.zui-table {
  border: solid 1px #3f51b5;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
  background-color: #3f51b5;
  border: solid 1px #3f51b5;
  color: white;
  padding: 10px;
  text-align: center;
  /* //text-shadow: 1px 1px 1px #fff; */
}
.zui-table tbody td {
  border: solid 1px #3f51b5;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
}
